{#
/**
 * @file
 * Default theme implementation to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - fences_wrapper_element: The HTML element to use for the wrapper container.
 * - fences_label_element: The HTML element to use for the label.
 * - fences_content_element: The HTML element to use for the content section.
 *
 * @see template_preprocess_block()
 * @see fences_block_preprocess_block()
 *
 * @ingroup themeable
 */
#}

{%
  set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
    layout ? 'layout--' ~ layout|clean_class,
  ]
%}

{% block block %}
  {# Start block wrapper #}
  {% if fences_element.wrapper != 'none' %}
    <{{ fences_element.wrapper|default('div') }} {{ attributes.addClass(classes) }}>
  {% endif %}

    {% block label %}
      {# Block label #}
      {{ title_prefix }}
      {% if label %}
        {% if fences_element.label != 'none' %}
          <{{ fences_element.label|default('h2') }} {{ title_attributes.addClass('block__title') }}>
        {% endif %}
          {% block label_inner %}
            {{ label }}
          {% endblock label_inner %}
        {% if fences_element.label != 'none' %}
          </{{ fences_element.label|default('h2') }}>
        {% endif %}
      {% endif %}
      {{ title_suffix }}
    {% endblock label %}

    {# Block content #}
    {% block content %}
      {% if fences_element.content is not empty and fences_element.content != 'none' %}
        <{{fences_element.content}} {{ content_attributes.addClass('block__content') }}>
      {% endif %}
        {% block content_inner %}
          {{ content }}
        {% endblock content_inner %}
      {% if fences_element.content is not empty and fences_element.content != 'none' %}
        </{{fences_element.content}}>
      {% endif %}
    {% endblock content %}

  {# End block wrapper #}
  {% if fences_element.wrapper != 'none' %}
    </{{ fences_element.wrapper|default('div') }}>
  {% endif %}
{% endblock block %}
